#container {
    display: grid;
    grid-template-columns: repeat(16, auto [col-start]);
    grid-template-rows: repeat(16, auto [row-start]);
    height: auto;
    width: 350px;
    background-color: pink;
    border: 2px solid black;
    padding: 2px;
    justify-content: center;
    align-items: center;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-bottom: 0px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 40px;
}


.box {
    background: white; 
    height: 20px; 
    width: 20px; 
    margin: 1px; 
    padding: 0px;
}

.color-box {
    background: black; 
    height: 20px; 
    width: 20px; 
    margin: 1px; 
    padding: 0px;
}